body{
    background-color: rgb(199, 131, 238);
    font-family: Arial;
}

.baby{
    font-size: 30px;
	font-family: Arial;
    color: rgb(255, 0, 149);
}

.letr{
	border: 2px solid rgb(106, 26, 255);
    align-items: center;
    font-family: Arial;
}


 td, th {
    font-family: Arial;
    color: rgb(255, 0, 149);
 }

table {
    align-items: center;
    border-spacing: 10px;
    background: rgb(58, 31, 107);
    font-family: Arial;
 }
